
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
    width: auto;
}

.container .divelements{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.container .divimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 300px;
}

.container .divelements .divboton{
    margin: 5px;
    width: 100px;
    text-align: center;
}
